* {
    box-sizing: border-box;
    text-align: center;
}

body {
    background-image: url("../images/background.png");
    margin: 0;
    padding: 0;
}

header {
    font-family: "Georgia", Times, "Times New Roman", serif;
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    padding: 0;
    background: #ffffff;
    border: #cccccc;
}

.yourname {
    font-family: "Georgia", Times, "Times New Roman", serif;
    height: 100%;
    width: 20%;
    margin-left: 100px;
    padding: 10px;
    background: #4aaaa5;
    float: left;
}

.timothy {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 5px;
    margin: auto;
}
ul {
    font-family: "Georgia", Times, "Times New Roman", serif;
    text-align: initial;
    width: 19%;
    color: #777777;
    list-style-type: none;
    font-size: 16px;
    float: right;
}

li {
    display: inline;
}

.aboutmebox {
    font-family: "Georgia", Times, "Times New Roman", serif;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    width: 960px;
    color: #4aaaa5;
    height: 100%;
    background: white;
    margin: auto;
    padding: 25px;
    overflow: auto;
}

.separator {
    border:1px solid #7777;
    margin: 20px;
}

.aboutmetext {
    line-height: 35px;
    font-size: 18px;
    font-weight: normal;
    color: #777777;
}

.aboutmeimage {
    float: left;
    margin:10px;
}

.text {
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    text-align: left;
}

.nameheader {
    text-align: left;
    font-size: 16px;
    color: #777777;
}

.emailheader {
    text-align: left;
    font-size: 16px;
    color: #777777;
}

input {
    text-align: left;
    width: 100%;
}

.messageheader {
    text-align: left;
    font-size: 16px;
    color: #777777;
}

.messageinput {
    text-align: left;
    width: 100%;
    padding: 100px;
}

.submitbutton {
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    background: #4aaaa5;;
    margin-top: 15px;
    padding: 5px;
    font-size: 14px;
    color: white;
    float: left;
}

.picture {
    width: 200px;
    height: 200px;
    margin: 50px;
    padding: 0;
    float: left;
    position: relative;
}

.words {
    width: 100%;
    height: 30px;
    font-weight: normal;
    font-size: 20px;
    background-color: rgb(25, 168, 144);
    color: white;
    position: absolute;
    top: 90px;
}

#tealfooter {
    padding: 30px;
    background: #4aaaa5;
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer {
    padding: 15px;
    background: #777777;
    position: absolute;
    width: 100%;
    bottom: 0;
}
